*{
  font-family: 'Tilt Neon', sans-serif!important;
  color: #13044F;
}
.card-img-top {
  width: 100%;        /* Make image take full width of the card */
  height: 200px;      /* Set a fixed height */
  object-fit: cover;  /* Ensure the image covers the area, maintaining aspect ratio */
}

/* App.css */
.flex-grow-1 {
  flex-grow: 1;
}

.min-vh-100 {
  min-height: 100vh;
}
